*{
    margin: 0;
    padding: 0;
}

body{
	background-color : #212121;
}

.CH {
    text-align: center;
    font-size: 25px;
    font-family: arial;
    color: white;
}

.CH span{
    color: #f0db4f;
}

h2{
    font-size: 50px;
    color: white;
    font-family : arial;
    padding: 20px;
    margin-left : 50px;
    
}

.mrq{
    width : 500px;
    padding : 50px;
}

.main{
    width: rlative;
    height: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow: hidden;
    padding: 50px;
}

.main-sub{
    width: 97%;
    height: 30%;
    position : relative;
    border-radius: 30px;
    background: linear-gradient(#fff2, transparent);
    border :1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display : flex;
    backdrop-filter : blur(10px);
    padding: 20px;
}

.main-sub h3{
    font-size: 35px;
    color: #F5E8C7;
    padding: 20px;

}

.main-sub p{
    font-size: 25px;
    font-family: arial;
    color: white;
    padding: 20px
}

.box{
    width: 40%;
    height: 60%;
    position : relative;
    border-radius: 30px;
    background: linear-gradient(#fff2, transparent);
    border :1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display : flex;
    backdrop-filter : blur(10px);
    padding: 30px;
    color: white;
    float: left;
    margin-left: 50px;
    margin-bottom: 35px;
}


.box h3{
    font-size: 35px;
    color: #F5E8C7;
    padding: 20px;
}

.box p{
    font-size: 25px;
    font-family: arial;
    padding: 20px
}